.single-product {
    padding: 30px;
}

.product-wrapper {
    display: flex;
    align-items: center;
}

.product-img-wrapper {
    width: 50%;
    background-color: var(--white-color);
    text-align: center;
    height: 400px;
    padding: 10px 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.product-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    width: 50%;
    padding: 40px;
}

.product-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--light-red-color);
    margin-bottom: 10px;
}

.product-price {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--strong-red-color);
}

.product-add-to-cart{
    font-size: 21px;
    font-weight: 500;
    color: var(--primary-color);
    margin: 15px 0; 
}

.product-add-to-cart input {
    border: 1px solid var(--primary-color);
    font-size: 20px;
    padding: 5px;
    color: var(--primary-color);
    margin-right: 10px;
    border-radius: 4px; 
}

.product-add-to-cart-btn {
    background-color: var(--info-color);
    color: var(--white-color);
    font-size: 21px;
    font-weight: bold;
    border: none;
    padding: 5px 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}

.product-add-to-cart-btn:hover {
    background-color: darkblue;
}

/* Responsive */

@media (max-width: 768px) {
   .product-wrapper {
        flex-direction: column;
    }

   .product-img-wrapper {
        width: 100%;
        margin-right: 0;
    }

    .product-info {
        width: 100%;
    }
}
